*.csv filter=lfs diff=lfs merge=lfs -text
batch* filter=lfs diff=lfs merge=lfs -text
test_batch filter=lfs diff=lfs merge=lfs -text
batchs.meta filter=lfs diff=lfs merge=lfs -text
*.bmp filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
charts.zip filter=lfs diff=lfs merge=lfs -text
ling-spam.zip filter=lfs diff=lfs merge=lfs -text
